@-webkit-keyframes typing {
    from {
        width: 0;
    }
}

@-webkit-keyframes blink-caret {
    50% {
        border-color: transparent;
    }
}

#modal1 {
    max-height: 90%;
}

.modal-content {
    img {
        max-width: 30%
    }
    p {
        border-right: .1em solid black;
        width: 40em;
        white-space: nowrap;
        overflow: hidden;
        -webkit-animation: typing 2s steps(21, end), blink-caret .5s step-end infinite alternate;
    }
}