body{
	background-image: url('photos/pattern0.png');
}

#view{
	display: inline-grid;
	background-image: '/photos/pattern1.png';
}
.overlay{

}
.fixedHead{
	position:fixed;
	grid-template-columns: auto auto;
	grid-template-rows: auto;
	background-color: white;
	border:1px solid black;
	width:100%;
	margin:0 auto;
}
#trainerName{
	
}
#add{
	display:inline-block;
}
.grid{
	margin-top:35%;
	position:relative;
	display:grid;
	width:100%;
	grid-template-columns: auto;
}

#selection{
	display:grid;
	grid-template-columns: auto auto auto;
}
#constainer{
	display:inline-grid;
	grid-template-columns: auto auto auto;
	grid-template-rows: auto;
	margin:0 auto;
}
#pName{

}
#tags{

}
#pokeSelect{

}
#profile{

}
#stats{

}
#abilities{

}
.close-icon{

}
#catalog{

}
.pokeThumbnail{

}